<article id="@article-<%= @article.id %>" class="tile">
<div id="body">
    <h1><%= @article.title %></h1>
    <div class="user">
        <%= link_to gravatar_for(@article.user), @article.user %>
        <span class="user-name"><%= link_to @article.user.name, @article.user %></span>
    </div>
    <span class="timestamp">
        Posted <%= time_ago_in_words(@article.created_at) %> ago.
    </span>
    <div id="content"><%= @article.content %></div>
    
</div>
</article>
